body {
  font-size: 100%;
  background-image: url("carspic.jpg");
}

#heading {
  color: black;
  padding: 1em;
  margin-top: 5%;
  font-family: 'Euphoria Script', cursive;
}

#heading h1{ 
  font-size: 7em;
  margin: 0;
  margin-bottom: 0em;
  
}
#tabContainer {
	width:30%;
	
}
#tabContainer a {
	display: inline;
	width:25%;
	font-size: 2em;
	text-decoration: none;
	padding-left: 5%;
	padding-top: 0%;
	margin: .1em;
	font-family: 'Give You Glory', cursive;
	color: black;
}

#tabContainer a:hover {
	color: darkgray;
}




